@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;
@use "../abstract/breakpoints" as *;

.container {
  width: 100%;
  padding: 0 $space-md;
  margin: 0 auto;

  @include respond(lg) {
    max-width: 1200px;
  }
}
