@use "../abstract/variables" as *;

.bottomnav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #222;
  z-index: 1000;

  &__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      color: #888;
      cursor: pointer;
  }

  &__foto{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
}

.bottomnav__item.active {
  color: white;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .bottomnav {
    display: none;
  }
}
