.bottomnav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #222;
  z-index: 1000;

  &__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      color: #888;
      cursor: pointer;
  }
}

.bottomnav__item.active {
  color: white;
}
