@use "../abstract/variables" as *;

.buscador {
  position: fixed;
  inset: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;

  background-color: $color-bg-main;
  font-family: $font-main;

  &__header {
    display: flex;
    align-items: center;
    gap: $space-sm;
    padding: $space-sm;
  }

  &__back {
    background: none;
    border: none;
    color: $color-text-primary;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__input {
    flex: 1;

    background-color: $color-input-bg;
    border: 1px solid $color-input-border;
    border-radius: $radius-md;

    padding: $space-sm;
    color: $color-text-primary;

    font-size: 1rem;

    &:focus {
      outline: none;
      border-color: $color-accent;
    }
  }

  &__resultados {
    flex: 1;
    overflow-y: auto;
    padding: $space-md $space-sm;

    display: grid;
    grid-template-columns: repeat(2, 1fr); // 👈 2 columnas mobile
    gap: $space-md;

    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__sin-contenido {
    margin: $space-md $space-lg;
    padding: 0.75rem;

    background-color: $color-error-bg;
    border: 1px solid $color-error-border;
    border-radius: $radius-sm;

    color: $color-error-text;
    font-size: 0.85rem;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: $space-sm;
    cursor: pointer;
  }

  &__item img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: $radius-md;
  }

  &__titulo {
    font-size: 0.9rem;
    color: $color-text-primary;
  }
}

@media (min-width: 600px) {
  .buscador__resultados {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1024px) {
  .buscador__resultados {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
