.perfil-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);
  }

  &__contenido {
    position: relative;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.85);
    padding: 2rem;
    border-radius: 0.75rem;
    width: 90%;
    max-width: 420px;

    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

    p {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      color: #e9e9e9;;
    }
  }

  &__fotos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  &__foto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__mensaje {
    margin-top: 0.75rem;
    padding: 0.6rem 0.8rem;

    font-size: 0.85rem !important;
    line-height: 1.3;
    text-align: center;

    &--error {
      color: #a94442 !important;
      background-color: rgb(255, 194, 194);

      border: 1px solid red;
      border-radius: 4px;
    }

    &--ok {
      color: #3c763d !important;
      background-color: #bde7ac;

      border: 1px solid rgba(60, 118, 61, 0.3);
      border-radius: 4px;
    }
  }
}
