.navbar {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin-bottom: 2rem;

  &__nav {
    width: 100%;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  &__item {
    border: 0.0625rem solid #272727;
    border-right: none;
    padding: 0.5rem;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    &:hover {
      background-color: #e6e6e6;
    }

    &.is-active {
      background-color: #e6e6e6;
    }
  }

  &__item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
