.navbar-desktop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;

  display: none;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;

  background: rgba(15, 15, 15, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;

  @media (min-width: 1200px) {
    display: flex;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 28px;

    span {
      cursor: pointer;
      color: #ccc;
      transition: 0.2s;

      &:hover {
        color: white;
      }
    }
  }

  &__left--logo {
    width: 10rem;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__right--foto {
    width: 2rem;
    height: 2rem;
    border-radius: 40%;
  }
}

.profile {
  display: flex;
  gap: 1rem;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.3s ease;

  input {
    width: 0;
    opacity: 0;
    background: transparent;
    border: 1px solid #666;
    color: white;
    padding: 6px 10px;
    margin-right: 10px;
    transition: 0.3s ease;
  }

  &--active {
    input {
      width: 220px;
      opacity: 1;
    }
  }
}