@use "../abstract/variables" as *;

$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $bp-sm) { @content; }
  }
  @if $breakpoint == md {
    @media (min-width: $bp-md) { @content; }
  }
  @if $breakpoint == lg {
    @media (min-width: $bp-lg) { @content; }
  }
  @if $breakpoint == xl {
    @media (min-width: $bp-xl) { @content; }
  }
}
