.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 13rem;

  &__item {
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}


/* Responsive */
@media screen and (max-width: 64em) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 48em) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 14rem;
  }
}

@media screen and (max-width: 30em) {
  .galeria {
    grid-template-columns: 1fr;
    margin-bottom: 13.5rem;
  }
}
