.login-container {
  width: 100%;
  margin: 3rem auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-logo {
    width: 100%;
    max-width: 1100px;
    height: 260px;
    object-fit: cover;
    border-radius: 4rem;
    display: block;
    margin-bottom: 3.5rem;
  }

  .login-form {
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .login-field {
      display: flex;
      gap: 2rem;
      margin-bottom: 1.2rem;
      align-items: center;

      .login-label {
        width: 10rem;
        text-align: right;
      }

      .login-input {
        width: 260px;
        padding: 0.65rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: transparent;
        color: #000;
      }
    }

    .login-submit {
      width: 20rem;
      margin-top: 2rem;
      padding: 0.7rem;
      font-size: 1rem;
      border-radius: 6px;
      border: solid 1px #000;
      cursor: pointer;
      background-color: #6bdb5e;
      color: black;
    }
  }

  .login-secondary-actions {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .login-secondary-button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
.login-error-message {
  margin-top: 0.75rem;
  padding: 0.6rem 0.8rem;

  font-size: 0.85rem;
  line-height: 1.3;

  color: #a94442;
  background-color: #fbeaea;

  border: 1px solid rgba(169, 68, 66, 0.3);
  border-radius: 4px;

  text-align: center;
}

