@use "../abstract/variables" as *;

.releases {
  display: flex;
  flex-direction: column;
  gap: $space-lg;

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px;
    border-bottom: 1px solid #222;
  }

  &__back {
    background: none;
    border: none;
    color: $color-text-primary;
    font-size: 1.6rem;
    cursor: pointer;
  }

  &__main-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: $color-text-primary;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: $space-sm;
  }

  &__title {
    padding: 0 $space-sm;
    font-size: 1.1rem;
    font-weight: 600;
    color: $color-text-primary;
  }

  &__container {
    display: flex;
    gap: $space-sm;

    overflow-x: auto;
    padding: 0 $space-sm $space-md;

    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    flex: 0 0 220px;
    border-radius: $radius-md;
    overflow: hidden;
    cursor: pointer;

    background-color: $color-bg-card;
    transition: transform $transition-fast;

    &:active {
      transform: scale(0.96);
    }

    img {
      width: 100%;
      aspect-ratio: 2 / 3;
      object-fit: cover;
      display: block;
    }
  }

  @media (min-width: 1200px) {

    &__container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      gap: $space-md;

      overflow-x: visible;
      padding: 0 $space-sm $space-sm;
    }

    &__item {
      flex: unset;
      width: 100%;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
