.releases {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 13rem;
  margin-top: 10rem;

  &__item {
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}