.releases {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;

  &-section {
    padding: 1rem;
  }

  &-title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

.releases-grid {
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.release-card {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }

  &__icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    img {
      width: 1.8rem;
      height: 1.8rem;
      background-color: white;
      opacity: 0.5;
      border-radius: 50%;

      &:hover {
        cursor: pointer;
        background-color: yellow;
        opacity: 1;
      }
    }

    &--active {
      img {
        background-color: yellow;
        opacity: 1;
      }
    }
  }
}

