.releases {
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 5rem;
    padding-left: 1.2rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  &__item {
    width: 100%;
    overflow: hidden;
    cursor: pointer;

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
