@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.recover {
  min-height: 100vh;
  padding: 2rem 1rem;
  background-color: $color-bg-main;

  @include flex-center;

  &__container {
    width: 100%;
    max-width: 450px;
    background: $color-bg-card;
    padding: 2rem;
    border-radius: $radius-md;
    border: 1px solid $color-border-soft;
  }

  &__title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__label {
    font-size: 0.9rem;
    color: $color-text-secondary;
  }

  &__input {
    width: 100%;
    padding: 0.75rem;
    border-radius: $radius-sm;
    border: 1px solid $color-input-border;
    background-color: $color-input-bg;
    color: $color-text-primary;

    &:focus {
      outline: none;
      border-color: $color-accent;
    }
  }

  &__error {
    margin-bottom: $space-sm;
    padding: 0.75rem;

    background-color: $color-error-bg;
    border: 1px solid $color-error-border;
    border-radius: $radius-sm;

    color: $color-error-text;
    font-size: 0.85rem;
    text-align: center;
  }

  &__ok {
    margin-bottom: $space-sm;
    padding: 0.75rem;

    background-color: $color-ok-bg;
    border: 1px solid $color-ok-border;
    border-radius: $radius-sm;

    color: $color-ok-text;
    font-size: 0.85rem;
    text-align: center;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__button {
    padding: 0.8rem;
    border-radius: $radius-sm;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: $transition-normal;

    &--submit {
      @include button-primary;

      &:disabled {
        background-color: #999;
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    &--cancel {
      background-color: #e3572d;
      color: white;
    }
  }
}

/* TABLET */

@media (min-width: 768px) {
  .recover {
    &__container {
      max-width: 550px;
    }

    &__actions {
      flex-direction: row;
      justify-content: center;
    }

    &__button {
      min-width: 180px;
    }
  }
}
