.recover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 0.5rem;
  }

  .recover-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;

    .recover-field {
      display: flex;
      gap: 3rem;
      align-items: center;

      label{
        width: 10rem;
        text-align: right;
      }

      input{
        width: 260px;
        padding: 0.65rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        background: transparent;
        color: #eee;
      }
    }

    .recover-actions {
      display: flex;
      justify-content: space-between;
      gap: 5rem;
      margin-top: 1rem;

      .recover-button {
        width: 12rem;
        cursor: pointer;
        border: solid 1px #000;
        border-radius: 4px;
        font-size: 1rem;
        padding: 0.7rem;

        &--submit {
          background-color:#6bdb5e;
        }

        &--cancel {
          background-color: #e3572d;
        }
      }
    }
  }
}
