.register-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register-header {
  text-align: center;
  padding: 1rem;
}

.register-form {
  width: 100%;
}

.register-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-contact,
.register-payment {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.register-contact {
  border-right: 1px solid #ccc;
}

.register-field {
  display: flex;
  align-items: center;
  gap: 3rem;

  label {
    width: 9rem;
    text-align: right;
  }

  input {
    width: 12rem;
    padding: 0.4rem;
    font-size: 1rem;
  }
}

.register-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .register-error {
    color: red;
    font-size: 0.85rem;
    height: 0.8em;
  }
}

.register-section-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.register-payment-option {
  display: flex;
  gap: 1rem;  
}

.register-payment-suboption {
  display: flex;
  flex-direction: column;
  gap: 1rem;  
}

.register-payment-label-input{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.register-card-data {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.register-checkbox-group {
  display: flex;
  gap: 20px;
}

.register-cbu {
  font-size: 0.9em;
  margin-left: 25px;
}

.register-actions {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin-top: 2rem;
}

.register-button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  border: solid 1px #000;
  width: 10rem;

  &--confirm {
    background-color: #6bdb5e;

    &:disabled {
      background-color: #999;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &--cancel {
    background-color: #e3572d;
  }
}
