@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.register {
  min-height: 100vh;
  padding: 2rem 1rem;
  background-color: $color-bg-main;
  font-family: $font-main;

  @include flex-center;

  &__container {
    width: 100%;
    max-width: 480px;
    background: $color-bg-card;
    padding: 2rem;
    border-radius: $radius-md;
    border: 1px solid $color-border-soft;
  }

  &__header {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__title {
    font-size: 1.6rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__layout {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__section-title {
    font-weight: 600;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  &__label {
    font-size: 0.9rem;
    color: $color-text-secondary;
  }

  &__input-group {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 100%;
    padding: 0.7rem;
    border-radius: $radius-sm;
    border: 1px solid $color-input-border;
    background-color: $color-input-bg;
    color: $color-text-primary;

    &:focus {
      outline: none;
      border-color: $color-accent;
    }
  }

  &__error {
    margin-bottom: $space-sm;
    padding: 0.75rem;

    background-color: $color-error-bg;
    border: 1px solid $color-error-border;
    border-radius: $radius-sm;

    color: $color-error-text;
    font-size: 0.85rem;
    text-align: center;
  }

  &__ok{
    margin-bottom: $space-sm;
    padding: 0.75rem;

    background-color: $color-ok-bg;
    border: 1px solid $color-ok-border;
    border-radius: $radius-sm;

    color: $color-ok-text;
    font-size: 0.85rem;
    text-align: center;
  }

  &__payment-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__payment-card {
    border: 1px solid $color-input-border;
    border-radius: $radius-sm;
    padding: 1rem;
    transition: $transition-normal;

    &--active {
      border-color: $color-accent;
      background-color: rgba(0, 0, 0, 0.03);
    }
  }

  &__payment-main {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }

  &__checkbox-group {
    margin-top: 0.8rem;
    display: flex;
    gap: 1.5rem;
  }

  &__cbu {
    margin-top: 0.5rem;
    font-size: 0.85rem;
  }

  &__actions {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__button {
    padding: 0.8rem;
    border-radius: $radius-sm;
    cursor: pointer;
    border: none;
    font-weight: 500;
    transition: $transition-normal;

    &--confirm {
      @include button-primary;

      &:disabled {
        background-color: #999;
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    &--cancel {
      background-color: #e3572d;
      color: white;
    }
  }
}

@media (min-width: 768px) {
  .register {
    &__container {
      max-width: 900px;
    }

    &__layout {
      flex-direction: row;
      gap: 3rem;
    }

    &__section {
      flex: 1;
    }

    &__actions {
      flex-direction: row;
      justify-content: center;
    }

    &__button {
      min-width: 180px;
    }
  }
}
