@use "abstract/variables";
@use "abstract/mixins";

@use "base/globals";
@use "base/reset";

/* Components */
@use "./components/header";
@use "./components/header-desktop";
@use "./components/bottomnav";
@use "./components/navbarDesktop";
@use "./components/modal-categorias";
@use "./components/buscador";
@use "./components/modal-detalle";
@use "./components/modal-foto-perfil";
@use "./components/modal-cancelar-suscripcion.scss";

/* Pages */
@use "./pages/login";
@use "./pages/recuperar";
@use "./pages/galeria";
@use "./pages/registro";
@use "./pages/perfil-mobile";
@use "./pages/administrar-cuenta";
@use "./pages/proximos-lanzamientos";
