body {
  font-family: Arial, Helvetica, sans-serif;
  background: #222;
  color: #eee;
  text-align: center;
}

form {
  width: 40%;
  padding: 20px;
  margin: 50px auto;
  border-radius: 10px;
  background: transparent;
  box-shadow: 0 0 15px #fff2;
  text-align: center;
}

.label_input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

label {
  width: 9rem;
  text-align: right;
  margin-right: 4rem;
  color: #eee;
}

input {
  width: 14rem;
  padding: 0.625rem;
  font-size: 1rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  color: #eee;
  box-sizing: border-box;
  background: transparent;
}

.botones {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

a {
  text-align: center;
  color: #3b70b0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.boton-confirmar,
.boton-login,
.boton-cancelar {
  padding: 0.625rem 1.25rem;
  margin: 0.625rem auto;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  display: block;
  color: black;
  text-align: center;
}

.boton-confirmar {
  background-color: #439755;
  border: none;
  width: 10rem;
}

.boton-confirmar:hover {
  background-color: darkgreen;
  border: none;
}

.boton-login {
  background-color: #3b70b0;
  border: none;
  width: 15rem;
  margin-top: 2rem;
}

.boton-login:hover {
  background-color: #26456e;
  border: none;
}

.boton-login:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

.boton-confirmar:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

.boton-cancelar {
  background-color: #3b70b0;
  text-decoration: none;
  width: 10rem;
}

.boton-cancelar:hover {
  background-color: #26456e;
}

@media screen and (max-width: 64em) {
  form {
    width: 50%;
    padding: 1.25rem;
    margin: 3rem auto;
    text-align: center;
  }
}

@media screen and (max-width: 48em) {
  form {
    width: 70%;
    padding: 1rem;
  }

  input {
    width: 10rem;
  }

  .usuario_contrasenia {
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    margin-bottom: 0.5em;
    text-align: right;
  }
}

@media screen and (max-width: 30em) {
  form {
    width: 90%;
    padding: 1rem;
    margin: 1.9rem auto;
  }

  .label_input{
    display: flex;
    flex-direction: column;
  }

  input {
    font-size: 0.9rem;
    padding: 0.5rem;
    width: 14rem;
  }

  label{
    text-align: justify;
  }

  .titulo {
    font-size: 1.2rem;
  }
}

