.login-container {
  width: 100%;
  max-width: 1200px;
  margin: 3rem auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

.logo-login {
  width: 100%;
  max-width: 1100px;
  height: 260px;
  object-fit: cover;
  border-radius: 4rem;
  display: block;
  margin-bottom: 3.5rem;
}

.label_input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1.2rem;
}

.labels {
  width: 160px;
  text-align: right;
}

.inputs {
  width: 260px;
  padding: 0.65rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: transparent;
  color: #eee;
}

.botones {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.boton-confirmar,
.boton-login,
.boton-cancelar {
  padding: 0.625rem 1.25rem;
  margin: 0.625rem auto;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  display: block;
  color: black;
  text-align: center;
}

.boton-confirmar {
  background-color: #439755;
  border: none;
  width: 10rem;
}

.boton-confirmar:hover {
  background-color: darkgreen;
  border: none;
}

.boton-login {
  width: 260px;
  margin-top: 2rem;

  padding: 0.7rem;
  font-size: 1rem;

  border-radius: 10px;
  border: none;
  cursor: pointer;

  background-color: #3b70b0;
  color: black;
}

.boton-login:hover {
  background-color: #26456e;
  border: none;
}

.boton-login:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

.boton-confirmar:disabled {
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

.boton-cancelar {
  background-color: #3b70b0;
  text-decoration: none;
  width: 10rem;
}

.boton-cancelar:hover {
  background-color: #26456e;
}

@media screen and (max-width: 64em) {
  .formulario {
    width: 50%;
    padding: 1.25rem;
    margin: 3rem auto;
    text-align: center;
  }
}

@media screen and (max-width: 48em) {
  .formulario {
    width: 70%;
    padding: 1rem;
  }

  .inputs {
    width: 10rem;
  }

  .usuario_contrasenia {
    flex-direction: column;
    align-items: flex-start;
  }

  .labels {
    margin-bottom: 0.5em;
    text-align: right;
  }
}

@media screen and (max-width: 30em) {
  .formulario {
    width: 90%;
    padding: 1rem;
    margin: 1.9rem auto;
  }

  .label_input{
    display: flex;
    flex-direction: column;
  }

  .inputs {
    font-size: 0.9rem;
    padding: 0.5rem;
    width: 14rem;
  }

  .labels{
    text-align: justify;
  }

  .titulo {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .label_input {
    flex-direction: column;
    align-items: stretch;
  }

  .labels {
    text-align: left;
    width: 100%;
  }

  .inputs {
    width: 100%;
  }

  .formulario {
    max-width: 90%;
  }
}


