* {
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  max-width: 1200px;
  margin: 0 1rem;
  padding: 1rem;
}

.info .info_contenido {
  margin-top: 3.75rem;
  display: flex;
  flex-direction: row;
}

.video_contenedor {
  width: 100%;
  max-width: 600px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video_contenedor a {
  display: block;
  width: 100%;
}

.boton {
  width: 100%;
  margin-top: 1rem;
  display: block;
  padding: 0.75rem 1rem;
  background-color: rgb(66, 136, 241);
  color: black;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 0.5rem 0.5rem;
  font-size: 17px;
  margin-top: 0.5rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.info .info_descripcion {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  gap: 1rem;
}

.info_linea {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.info_linea h3 {
  font-size: 1rem;
  margin: 0;
}

.info_linea select {
  margin: 0 0.5rem;
  padding: 0.3rem;
}
.info_similares_contenido {
  width: 100%;
  padding: 1rem;
  margin-bottom: 3rem;
}

.info_similares_contenido h2 {
  font-size: 1.5rem;
}

 .info_similares {
    display: flex; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-padding: 1rem; 
    gap: 1rem;
    padding: 1rem;
    scroll-behavior: smooth; 
  }
  .info_similares a {
    width: 300px;
    height: 180px;
    flex-shrink: 0;
    scroll-snap-align: start;
    border-radius: 1rem;
    overflow: hidden;
    display: block;
  }
  .info_similares img {
    width: 100%;
    height: 100%;
    display: block;
  }

.puntero:hover {
  background-color: #e6e6e6;
}

.botones {
  padding-bottom: 10rem;
}

@media screen and (min-width: 48em) and (max-width: 60em) {
  .info .info_contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.25rem;
  }

  .info .info_descripcion {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
  }

  .info_similares {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 5rem;
    padding-right: 2rem;
  }

  .info_similares img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}

@media screen and (max-width: 48em) {
  .info .info_contenido {
    flex-direction: column;
    align-items: center;
  }

  .info .info_descripcion {
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
  }

  .info_linea {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .info_similares {
    grid-template-columns: repeat(1, 1fr);
    padding-right: 2rem;
  }

  .info_similares img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  footer {
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    width: 100%;
    font-size: small;
  }
}