* {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;

  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;

    li {
      border: 0.0625rem solid #272727;
      border-right: none;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      text-align: center;
      &.seleccionado {
        background-color: #e6e6e6;
      }
      &:hover {
        background-color: #e6e6e6;
      }

      div {
        align-content: center;
        margin-left: 8px;
      }

      img {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
.cuerpo {
  position: fixed;
  top: 10rem;
}

.categoria_buscador {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 2;
  top: 3.4rem;
}

.form_categoria {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.categoria select {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 0.0625rem solid #272727;
  background-color: #fff;
}

.buscador {
  display: flex;
  margin-right: 5rem;
}

.search {
  background-image: url("../images/lupa.png");
  background-repeat: no-repeat;
  background-position: 0.0625rem center;
  background-size: 1rem 1rem;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  left: 5rem;
  border: 0.0625rem solid #333;
  width: 15rem;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  top: 9rem;
  gap: 1rem;
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 13rem;
}

.galeria img {
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}
