.modal-bg{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: 100;
  background-color: black;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  opacity: 1;
}

.contenido-modal{
  position: fixed;
  margin: 10%;
  left: 0;
  top: 0;
  width: 80%;
  height: 80%;
  z-index:110;
  background-color: white;
  border-radius: 1rem;
}
